.vectorimg {
  position: absolute;
  top: 0%;
  right: 15.42%;
  bottom: -18.61%;
  left: 0%;
  max-width: 84.58%;
  max-height: 118.61%;
}
.vector2img {
  position: absolute;
  top: 27.04%;
  right: -44.22%;
  bottom: -45.65%;
  left: 59.64%;
  max-width: 84.58%;
  max-height: 118.61%;
}
.desktopContainer {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
